@keyframes bounce-short {
  0%,
  100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  75% {
    transform: translateX(5px);
  }
}

.animate-bounce-short {
  animation: bounce-short 0.3s ease-in-out 3;
}
